@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;900&display=swap");
@import "./reset";

$white: #fff;
$black: #333;
$primary: #ffba4b;

$transition: 0.3s ease-in-out;
$popupWidth: 500px;

@mixin flexAlign {
    display: flex;
    align-items: center;
}

@mixin container {
    background: rgba($black, 0.6);
    border: 2px solid rgba($black, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba($black, 0.3);
}
html,
body {
    margin: 0;
    width: $popupWidth;
    background: $primary;
    color: $white;
    font-size: 18px;
    line-height: 150%;
    font-family: "Poppins", sans-serif;
}

.container {
    width: calc($popupWidth * 2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: $transition;

    &.active {
        transform: translateX(-50%);

        .category-container {
            height: 0px;
        }
    }
}
.category-container,
.tools-container {
    width: calc($popupWidth - 20px);
    margin: 0 auto;
}
#back {
    text-transform: uppercase;
    cursor: pointer;
    i {
        margin-right: 20px;
    }
}

h1 {
    text-align: center;
    color: $black;
    font-weight: 100;
}

h2 {
    @include flexAlign;
    text-transform: uppercase;
    font-weight: 900;

    img {
        width: 40px;
    }
}
img {
    display: block;
    width: 25px;
    object-fit: cover;
    margin-right: 20px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white;
}

p {
    font-weight: 300;
}

.sub-link {
    display: block;
    font-size: 18px;
    transition: $transition;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    @include container;

    h3 {
        font-weight: 500;
        @include flexAlign;
    }

    &:hover {
        background: rgba($white, 0.95);
        border-color: $black;
        color: $black;
    }
}

h3.sub-link {
    font-weight: 500;
}

.category,
.tools-lists {
    margin: 10px;
    padding: 20px;
    margin-bottom: 15px;
    @include container;
}

.subcategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
